/*The below ccs ic for index.html*/
 .ib {background-color: grey;}
 .ih {color: dodgerblue; text-align: center;}
/*The above ccs ic for index.html*/



 /*The below ccs ic for contact_us.html*/
.cu {background-color: rgb(212, 179, 139);}
.h1 {text-align: center; font-family: 'Times New Roman', Times, serif; color: brown;}
.nd {text-align: center;}
.section {text-align: center;}
.hd {
    color: brown; text-align: center;}
.hd1 {
    border: 2px solid brown;
    padding: 30px;
    color: brown; text-align: center;}
   
    .div {text-align: center;}
/*The above ccs ic for contact_us.html*/
