            Body{background-color: rgb(174, 55, 55);}
            h1{color:aqua;}
            p {
                border: 2px solid antiquewhite;
                padding: 20px;
            }
            p {
                border: 2px solid antiquewhite;
                margin: 80px;
            }
            p{color:antiquewhite;}
