body {background-color: rgb(212, 179, 139);}
h1 {text-align: center; font-family: 'Times New Roman', Times, serif; color: brown;}
nav {text-align: center;}
section {text-align: center;}
p {text-align: center;}
p {
    border: 2px solid brown;
    padding: 30px;
}
p {
    border: 2px solid brown;
    margin: 80px;
}
p {color: brown; text-align: center;}
div {text-align: center;}
