body {background-color: burlywood;}
h1 {text-align: center;}
p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
p {
    border: 2px solid brown;
    padding: 30px;
}
p {
    border: 2px solid brown;
    margin: 80px;
}
p {color: brown; text-align: center;}
div {text-align: center;}
