body {background-color: aqua;}
h1 {color: crimson; text-align: center; font-family: 'Courier New', Courier, monospace;}
h3 {color: crimson; font-family: 'Courier New', Courier, monospace;}
body {text-align: center;}
.ais1 {font-family: 'Times New Roman', Times, serif; color: black; border: 1px solid black;}